*{	
	margin: 0;
	padding: 0;
}

body{
	width: 100%;
	font-family: 'source-sans-pro-regular',sans-serif,helvetica,arial;
}

main{	
	margin: 50px auto;
	width: 1400px;
	padding: 0;
	position: relative;
	overflow: hidden;
	font-size: 0;	
}

div{
	width: calc(25% - 40px);
	display: inline-block;
	margin: 20px;
	vertical-align: top;
}

figure{
	background: white;
	height: 280px;
	width: 100%;	
	position: relative;
	overflow: hidden;	
}

.country-img{
	width: 100%;
	height: 100%;
}

figcaption h2{
	height: 50px;
	text-transform: uppercase;
	font-size: 18px;
	line-height: 50px;
	font-weight: bold;
}

figcaption p{
	font-weight: bold;
	font-size: 25px;
	margin: 50px 0;
}

figcaption p span{
	font-size: 130px;
	font-weight: bold;
	display: block;
	font-weight: bold;
}

figure figcaption{
	position: absolute;	
	top:230px;
	left: 0;	
	text-align: center;
	font-size: 18px;
	color: white;
	text-transform: uppercase;
	background-color:rgba(0,0,0,.5);
	width: 100%;
	transition: all .5s;
}

figcaption a{
	color: white;
	text-decoration: none;
}

/* наведення */
figure:hover figcaption{
	display: block;
	opacity: 1;
	top: -20%;
	height: 120%;
}

div #expanded-block{
	margin: 25px 0 -15px 0;
    font-size: 20px;
	display: block;
	width: calc( 1400px - 120px );
	height: 350px;
	padding: 30px 40px;	
	border: 1px solid #ccc;
	background-color: #f7f7f7;
	position: relative;
	display: none;
}

/* трикутник вказівник */
#expanded-block::before, #expanded-block::after{
	bottom: 100%;
	left: calc( (25% - 20px) / 2);
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	
}

#expanded-block::after{
	border-color: transparent;
	border-bottom-color: #f7f7f7;
	border-width: 6px;
	margin-left: -6px;
}

#expanded-block::before{
	border-color: transparent;
	border-bottom-color: #ccc;
	border-width: 7px;
	margin-left: -7px;
}
/*-------------------------------*/

div #expanded-block h2{
	color:#39c2d7;
	font-family: 'Oswald', helvetica, sans-serif, arial;
	font-size: 2.2rem;
	line-height: 2.5rem;
	letter-spacing: -2.0px;
	text-transform: uppercase;
	font-stretch: condensed;
	padding-left: 50px;
}

#expanded-block:target{
	display: block;
}

#expanded-block:not(:target){
	display: none;
}

.city-item{
	border-right: 1px solid #ccc;
	height: 220px;
	margin-top: 50px;
	padding-left: 50px;
	padding-right: 50px;
	float: left;
}

.city-item:last-child{
	border: none;
}

.city-item h3{
	font-size: 18px;
	color: #464547;
	font-family: 'source-sans-pro-bold',sans-serif,helvetica,arial;

}

.city-item .phone a{
	color: #464547;
	font-family: 'source-sans-pro-regular',sans-serif,helvetica,arial;
	font-weight: normal;
	text-decoration: underline;
}

.city-item .location{
	width: 17px;
	height: 17px;
	float: left;
	margin-left: -25px;
}

.city-item .adress{
	margin-top: 20px;
	font-size: 14px;
	font-family: 'source-sans-pro-regular',sans-serif,helvetica,arial;
	color: #464547;
	padding-bottom: 5px;
}

.city-item .phone{
	margin-top: 20px;
}

.city-item .fax{
	margin-top: 0px;
}

.city-item p{
	margin-top: 10px;
	font-size: 14px;
	font-family: 'source-sans-pro-regular',sans-serif,helvetica,arial;
	color: #464547;
	padding-bottom: 5px;
}

.city-item a{
	color: #7f993a;
	text-decoration: none;
	font-family: 'source-sans-pro-bold',sans-serif,helvetica,arial;
	font-size: 14px;
	font-weight: bold;
}

#expanded-block .close{
	width: 10px;
	height: 10px;
	position: absolute;
	top: 20px;
	right: 20px;
}
