$bodyFont: normal 12px/18px Arial, Helvetica, sans-serif;
$bodyBackground: #dcbc9b;
$contentBackground: #ffffff;
$textColor: #000;
$hColor: #8a3a00;
$h2FontStyle: italic;

$imgBorderColor: #8b3e03;
$imgBorderSize: 2px;
$imgPadding: 2px;

$briefBackground: #fadbba;
$briefWidth: 35%;
$briefPadding: 20px;
$briefMarginRight: 20px;
$briefFloat: left;
$briefFontWeight: bold;

$tableThBackground: #e0e0e0;
$tableBackground: #fff;
$thBorder: 2px solid $contentBackground;
$tableWidth: auto;