$bodyFont: normal 15px/20px Georgia, "Times New Roman", Times, serif;
$bodyBackground: #659a00;
$contentBackground: #666600;
$textColor: #fff;
$hColor: #ffcc15;
$linkColor: $hColor;
$h2FontStyle: normal;

$imgBorderColor: #fffffb;
$imgBorderSize: 1px;
$imgPadding: 10px;

$briefBackground: #667c01;
$briefWidth: calc( 100% - 40px );
$briefPadding: 20px;
$briefMarginRight: 0;
$briefFloat: none;
$briefFontWeight: normal;

$tableThBackground: #93a34e;
$tableBackground: $briefBackground;
$thBorder: 0;
$tableWidth: 100%;