.profile-image {
	width: 200px;
	height: 150px;
}

form {
	border: 1px solid silver;
	padding: 20px;
	margin: 20px 0 40px;
}

form .save {
	margin-right: 20px;
}

.glyphicon-sort,
.glyphicon-sort-by-alphabet,
.glyphicon-sort-by-alphabet-alt {
	margin-left: 5px;
}
