.container {
	width: 500px;
	margin: 0 auto;
	border: 1px solid;
	padding: 50px 0;
	background-color: WhiteSmoke;
}

input[type=number], .result {
	display: block;
    width: 350px;
    margin: 0px auto 10px auto;
    padding: 5px;
    font-size: 16px;
}

.button-container {
	width: 350px;
	margin: 20px auto;
	display: flex;
	justify-content: space-around;
}

.btn {
	width: 60px;
	height: 50px;
	background-color: Gainsboro;
	font-size: 24px;
}

.result {
	width: 350px;
	margin: 0 auto;
}